
    h1{
        margin-left: 20%;
    }

    .col p{
        margin-top: 5px;
        margin-bottom: 20px;
        
    } 
    .input{
        width: 200px;
        margin-bottom: 5px;
        padding: 5px;
        margin-right: 20px;
    }
    .choice{
        margin-top:5px;
        margin-bottom: 25px;
    }
    #tinh{
        background-color: #ccc;
        padding: 5px;
        width: 60px;
    }
    #tinh:hover{
        border: 1px solid black;
    }
    #alertError{
        color:red;
    }